{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container d-flex flex-column align-items-center w-100">
    <!-- Content here -->
    <h1 class="mx-auto">Business Finder</h1>
</div>
<div class="container">
    <!-- Content here -->
    {% if businesses|length >= 1 %}
        <h2 class="mt-3">Results for "{{search_query}}"</h2>
    {% else %}
        <h2 class="mt-3">No results for "{{search_query}}"</h2>
    {% endif %}
    {% for business in businesses %}
        <div class="mt-4">
            <h3>
                <a href="/{{ business.slug }}">
                {{ loop.index + business_index }}. {{ business.title }}
                </a>
            </h3>
            
            <p>
            {% if business.category|length == 1 %}
                in {{business.category|first.name}}
            
            {% elseif business.category|length >= 1 %}
                in 
                {% for item in business.category %}
                    
                    {% if loop.index > 1 and loop.index <= business.category|length %}
                        |
                    {% endif %}

                    {{item.name}}
                {% endfor %}
            {% endif %}
            </p>
        </div>
    {% endfor %}

    <nav class="d-flex justify-content-center mt-4 mb-4">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>

</div>
{% endblock %}
